:host {
  @import '../../../../styles/variables.scss';
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid $gray;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: $gray;
      }

      .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        
        border-bottom: 5px solid $gray;
        margin-bottom: 1px;
      }
      
      .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        
        border-top: 5px solid $gray;
        margin-top: 1px;
      }

      .sort-container {
        display: flex;
        flex-direction: column;
        padding: 2px;
        justify-content: center;
      }

      .header-contaner {
        display: flex;
        flex-direction: row;
      }

      mat-chip {
        background-color: $grayAccent;
      }

      .textAlignLeft {
        text-align: left;
      }
      .textAlignCenter {
        text-align: center;
      }
      .textAlignEnd {
        text-align: end;
      }
}