<table>
  <tr>
    <th *ngFor="let columnConfig of columnConfigList">
      <div class="header-contaner">
        <div class="sort-container" (click)="sort(columnConfig)">
          <div
            *ngIf="
              columnConfig.sortable &&
              (columnConfig.sort === Sort.ASC ||
                columnConfig.sort === undefined)
            "
            class="arrow-up"
          ></div>
          <div
            *ngIf="
              columnConfig.sortable &&
              (columnConfig.sort === Sort.DESC ||
                columnConfig.sort === undefined)
            "
            class="arrow-down"
          ></div>
        </div>
        <span>{{ columnConfig.label }}</span>
      </div>
    </th>
  </tr>
  <tr *ngFor="let row of dataSource; let i = index">
    <td *ngFor="let columnConfig of columnConfigList" [ngClass]="{ 'textAlignLeft': columnConfig.textAlign === TextAlign.LEFT, 'textAlignCenter': columnConfig.textAlign === TextAlign.CENTER, 'textAlignEnd': columnConfig.textAlign === TextAlign.END}">
      <span *ngIf="columnConfig.pipe === undefined && columnConfig.hasTags !== true">{{
        row[columnConfig.dataSourceParamName]
      }}</span>
      <span *ngIf="columnConfig.pipe === DatePipe">{{
        row[columnConfig.dataSourceParamName] | date: columnConfig.pipeArg
      }}</span>
      <span *ngIf="columnConfig.pipe === DecimalPipe"
        >{{
          row[columnConfig.dataSourceParamName] | number: columnConfig.pipeArg
        }}{{ columnConfig.suffix }}</span
      >
      <button
        *ngIf="columnConfig.callback !== undefined"
        mat-icon-button
        color="primary"
        (click)="columnConfig.callback(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <ng-container *ngIf="columnConfig.hasTags">
        <mat-chip-list>
          <mat-chip [selectable]="true" [removable]="false" *ngFor="let tag of row[columnConfig.dataSourceParamName]">{{tag}}</mat-chip>
        </mat-chip-list>
      </ng-container>
    </td>
  </tr>
</table>

